Repository rancher-sandbox/sbombastic, pull requests merged in 2024-11, with the labels that each got.

#19 chore: fix linter and remove apiserver dead code
  cmd/controller/main.go
  cmd/storage/server/start.go
  cmd/worker/main.go
  internal/admission/wardleinitializer/interfaces.go
  internal/admission/wardleinitializer/wardleinitializer.go
  internal/admission/wardleinitializer/wardleinitializer_test.go
  internal/apiserver/apiserver.go
Labels: chore, tech debt

#18 refactor(storage): implement generic store
  internal/storage/sbom_schema.go
  internal/storage/sbom_store.go
  internal/storage/store.go
  internal/storage/store_test.go
Labels: storage, feature, refactor

#21 feat: add cataloguer
  api/v1alpha1/image_types.go
  api/v1alpha1/registry_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  helm/templates/crd/sbombastic.rancher.io_images.yaml
  helm/templates/crd/sbombastic.rancher.io_registries.yaml
  internal/handlers/cataloger.go
  internal/handlers/cataloger_test.go
  internal/handlers/registry/client.go
  internal/handlers/registry/mocks/image_index.go
  internal/handlers/registry/mocks/layer.go
  internal/handlers/registry/mocks/registry_client.go
Labels: feature

#23 feat: add Subscriber
  .golangci.yml
  cmd/controller/main.go
  cmd/worker/main.go
  internal/messaging/handler.go
  internal/messaging/nats.go
  internal/messaging/publisher.go
  internal/messaging/publisher_test.go
  internal/messaging/subscriber.go
  internal/messaging/subscriber_test.go
  internal/messaging/types_test.go
Labels: controller, worker, feature

#24 refactor(worker): CreateCatalog handler
  api/v1alpha1/image_types.go
  cmd/worker/main.go
  helm/templates/crd/sbombastic.rancher.io_images.yaml
  internal/handlers/cataloger.go
  internal/handlers/cataloger_test.go
  internal/handlers/create_catalog.go
  internal/handlers/create_catalog_test.go
  internal/handlers/registry/client.go
  internal/handlers/registry/mocks/client.go
  internal/messaging/mocks/publisher.go
  internal/messaging/publisher.go
  internal/messaging/types.go
Labels: worker, feature, refactor

#28 feat: SBOM generation
  api/storage/v1alpha1/image_metadata.go
  api/storage/v1alpha1/image_types.go
  api/storage/v1alpha1/register.go
  api/storage/v1alpha1/sbom_types.go
  api/storage/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/registry_types.go
  cmd/worker/main.go
  examples/registry.yaml
  go.mod
  go.sum
  helm/templates/controller/role.yaml
  helm/templates/crd/sbombastic.rancher.io_registries.yaml
  helm/templates/worker/deployment.yaml
  internal/controller/image_controller.go
  internal/controller/image_controller_test.go
  internal/controller/registry_controller_test.go
  internal/controller/sbom_controller_test.go
  internal/handlers/create_catalog.go
  internal/handlers/create_catalog_test.go
  internal/handlers/generate_sbom.go
  internal/handlers/generate_sbom_test.go
  internal/handlers/registry/client.go
  internal/messaging/types.go
  internal/storage/image_store.go
  internal/storage/matcher.go
  internal/storage/store_test.go
  pkg/generated/applyconfiguration/storage/v1alpha1/imagemetadata.go
  pkg/generated/applyconfiguration/storage/v1alpha1/imagespec.go
  pkg/generated/applyconfiguration/storage/v1alpha1/sbomspec.go
  pkg/generated/openapi/zz_generated.openapi.go
  test/crd/storage.sbombastic.rancher.io_images.yaml
  test/crd/storage.sbombastic.rancher.io_sboms.yaml
  test/fixtures/busybox-1.37.0.spdx.json
Labels: worker, feature

#35 feat: add scan SBOM handler
  .github/workflows/ci.yml
  api/storage/register.go
  api/storage/v1alpha1/register.go
  api/storage/v1alpha1/vulnerabilityreport_types.go.go
  api/storage/v1alpha1/zz_generated.deepcopy.go
  cmd/controller/main.go
  cmd/storage/main.go
  cmd/worker/main.go
  helm/templates/worker/deployment.yaml
  helm/templates/worker/role.yaml
  helm/templates/worker/rolebinding.yaml
  helm/templates/worker/sa.yaml
  internal/apiserver/apiserver.go
  internal/controller/sbom_controller.go
  internal/controller/sbom_controller_test.go
  internal/handlers/create_catalog.go
  internal/handlers/generate_sbom.go
  internal/handlers/generate_sbom_test.go
  internal/handlers/scan_sbom.go
  internal/handlers/scan_sbom_test.go
  internal/messaging/types.go
  internal/storage/vulnerabilityreport_store.go
  internal/storage/vulnerabilityreport_strategy.go
  pkg/generated/applyconfiguration/storage/v1alpha1/scanresultspec.go
  pkg/generated/applyconfiguration/storage/v1alpha1/vulnerabilityreport.go
  pkg/generated/applyconfiguration/storage/v1alpha1/vulnerabilityreportspec.go
  pkg/generated/applyconfiguration/utils.go
  pkg/generated/clientset/versioned/typed/storage/v1alpha1/fake/fake_scanresult.go
  pkg/generated/clientset/versioned/typed/storage/v1alpha1/fake/fake_storage_client.go
  pkg/generated/clientset/versioned/typed/storage/v1alpha1/fake/fake_vulnerabilityreport.go
  pkg/generated/clientset/versioned/typed/storage/v1alpha1/generated_expansion.go
  pkg/generated/clientset/versioned/typed/storage/v1alpha1/scanresult.go
  pkg/generated/clientset/versioned/typed/storage/v1alpha1/storage_client.go
  pkg/generated/clientset/versioned/typed/storage/v1alpha1/vulnerabilityreport.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/informers/externalversions/storage/v1alpha1/interface.go
  pkg/generated/informers/externalversions/storage/v1alpha1/vulnerabilityreport.go
  pkg/generated/listers/storage/v1alpha1/expansion_generated.go
  pkg/generated/listers/storage/v1alpha1/scanresult.go
  pkg/generated/listers/storage/v1alpha1/vulnerabilityreport.go
  pkg/generated/openapi/zz_generated.openapi.go
  test/crd/storage.sbombastic.rancher.io_vulnerabilityreports.yaml
  test/fixtures/busybox-1.37.0.spdx.json
  test/fixtures/golang-1.12-alpine.sarif.json
  test/fixtures/golang-1.12-alpine.spdx.json
Labels: controller, storage, worker, feature

#36 chore: update examples
  examples/image.yaml
  examples/sbom.yaml
  examples/scanresult.yaml
  examples/vulnerabilityreport.yaml
Labels: documentation, chore

#37 fix(storage): tryUpdate should only retry index conflict errors
  examples/image.yaml
  examples/sbom.yaml
  examples/vulnerabilityreport.yaml
  internal/storage/store.go
Labels: bug, storage

#38 fix(storage): return key exists error instead of bubbling up a SQL error
  internal/storage/store.go
  internal/storage/store_test.go
Labels: bug, storage

#39 fix(storage): log failed transaction rollback when err != nil
  internal/storage/store.go
Labels: bug, storage

#40 test(storage): add tryUpdate non-conflict error test case to GuaranteedUpdate test
  internal/storage/store_test.go
Labels: storage, test

#41 fix: improve the logic of handlers to cover scenarios where resources already exist
  internal/handlers/create_catalog.go
  internal/handlers/create_catalog_test.go
  internal/handlers/generate_sbom.go
  internal/handlers/scan_sbom.go
Labels: storage, tech debt

#42 fix(controller): add spec.imageMetadata.registry index to SBOM and Image
  internal/controller/image_controller.go
  internal/controller/sbom_controller.go
Labels: bug, controller

#43 feat(worker): set owner references
  cmd/worker/main.go
  internal/handlers/create_catalog.go
  internal/handlers/create_catalog_test.go
  internal/handlers/generate_sbom.go
  internal/handlers/generate_sbom_test.go
  internal/handlers/scan_sbom.go
  internal/handlers/scan_sbom_test.go
Labels: worker, feature, tech debt

#44 chore: switch to slog
  Tiltfile
  cmd/controller/main.go
  cmd/storage/main.go
  cmd/storage/server/start.go
  cmd/worker/main.go
  go.mod
  internal/apiserver/apiserver.go
  internal/handlers/create_catalog.go
  internal/handlers/create_catalog_test.go
  internal/handlers/generate_sbom.go
  internal/handlers/generate_sbom_test.go
  internal/handlers/registry/client.go
  internal/handlers/scan_sbom.go
  internal/handlers/scan_sbom_test.go
  internal/messaging/subscriber.go
  internal/messaging/subscriber_test.go
  internal/storage/image_store.go
  internal/storage/sbom_store.go
  internal/storage/store.go
  internal/storage/store_test.go
  internal/storage/vulnerabilityreport_store.go
Labels: controller, storage, worker, chore, tech debt

#48 fix: helm chart labels
  Makefile
  helm/templates/_helpers.tpl
  helm/templates/controller/leader_election_role.yaml
  helm/templates/controller/leader_election_rolebinding.yaml
  helm/templates/controller/metrics_auth_role.yaml
  helm/templates/controller/metrics_auth_rolebinding.yaml
  helm/templates/controller/metrics_reader_role.yaml
  helm/templates/controller/role.yaml
  helm/templates/controller/rolebinding.yaml
  helm/templates/controller/service.yaml
  helm/templates/controller/serviceaccount.yaml
  helm/templates/controller/statefulset.yaml
  helm/templates/storage/apiservice.yaml
  helm/templates/storage/auth_delegator_rolebinding.yaml
  helm/templates/storage/auth_reader_rolebinding.yaml
  helm/templates/storage/deployment.yaml
  helm/templates/storage/role.yaml
  helm/templates/storage/rolebinding.yaml
  helm/templates/storage/service.yaml
  helm/templates/storage/serviceaccount.yaml
  helm/templates/worker/deployment.yaml
  helm/templates/worker/role.yaml
  helm/templates/worker/rolebinding.yaml
  helm/templates/worker/serviceaccount.yaml
Labels: bug, helm

#49 fix(storage): field selectors
  api/storage/v1alpha1/register.go
  api/storage/v1alpha1/vulnerabilityreport_types.go
  internal/storage/matcher.go
  test/crd/storage.sbombastic.rancher.io_scanresults.yaml
  test/crd/storage.sbombastic.rancher.io_vulnerabilityreports.yaml
Labels: bug, storage

#50 fix(storage): resolve GuaranteedUpdate saving an empty object instead of the updated one
  internal/storage/store.go
  internal/storage/store_test.go
Labels: bug, storage
