Repository rancher-sandbox/sbombastic, pull requests merged in 2025-09, with the labels that each got.

#394 feat: support authentication for registries
  Tiltfile
  api/v1alpha1/registry_types.go
  charts/sbombastic/templates/worker/role.yaml
  cmd/worker/main.go
  docs/private_registry.md
  examples/private-registry/dockerconfig.json
  examples/private-registry/registry.yaml
  examples/private-registry/secret.yaml
  go.mod
  go.sum
  hack/private-registry.yaml
  internal/handlers/create_catalog.go
  internal/handlers/create_catalog_test.go
  internal/handlers/dockerauth/auth.go
  internal/handlers/dockerauth/doc.go
  internal/handlers/generate_sbom.go
  internal/handlers/generate_sbom_test.go
  internal/handlers/utils_test.go
  tilt-settings.yaml.example
Labels: worker, feature

#413 doc: update VulnerabilityReport example
  examples/vulnerabilityreport.yaml
Labels: documentation

#422 feat: add Registry webhook
  PROJECT
  Tiltfile
  charts/sbombastic/templates/controller/webhooks.yaml
  cmd/controller/main.go
  internal/webhook/v1alpha1/registry_webhook.go
  internal/webhook/v1alpha1/registry_webhook_test.go
Labels: controller, feature

#417 fix(handlers): ack messages when an error occurs and fix status update conflict
  internal/handlers/create_catalog.go
  internal/handlers/scanjob_failure.go
  internal/messaging/subscriber.go
Labels: bug, worker

#426 chore: Automate Golang version update
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/update-charts.yml
  .github/workflows/updatecli.yaml
  updatecli/updatecli-compose.release.yaml
  updatecli/updatecli-compose.yaml
  updatecli/updatecli.d/go.yaml
  updatecli/updatecli.release.d/helm-chart-update.yaml
Labels: ci, release

#443 feat: allow user to customize resources
  charts/sbombastic/templates/controller/deployment.yaml
  charts/sbombastic/templates/storage/deployment.yaml
  charts/sbombastic/templates/worker/deployment.yaml
  charts/sbombastic/tests/controller/deployment_test.yaml
  charts/sbombastic/tests/storage/deployment_test.yaml
  charts/sbombastic/tests/worker/deployment_test.yaml
  charts/sbombastic/values.yaml
Labels: feature

#451 feat(api): add printcolumns to ScanJob
  api/v1alpha1/scanjob_types.go
  charts/sbombastic/templates/crd/sbombastic.rancher.io_scanjobs.yaml
Labels: feature, api

#465 feat(storage): add vulnerabilities count column to VulnerabilityReport
  internal/storage/vulnerabilityreport_store.go
Labels: storage, feature

#477 fix(ci): code scanning alert no. 8: Workflow does not contain permissions
  .github/workflows/e2e.yml
Labels: ci

#480 test: add test for VEXHub application on scans
  internal/handlers/generate_sbom.go
  internal/handlers/scan_sbom_test.go
  test/fixtures/golang-1.12-alpine-amd64.sbombastic-vex.json
  test/fixtures/vexhub/README.md
  test/fixtures/vexhub/index.json
  test/fixtures/vexhub/main.tar.gz
  test/fixtures/vexhub/main/index.json
  test/fixtures/vexhub/main/pkg/apk/alpine/zlib/scan.openvex.json
  test/fixtures/vexhub/pkg/golang/github.com/rancher/rancher/manifest.json
  test/fixtures/vexhub/pkg/golang/github.com/rancher/rancher/scan.openvex.json
Labels: worker, tech debt, test

#490 chore: bump storage replicas to 3
  charts/sbombastic/questions.yaml
Labels: chore

#489 test(e2e): test ScanJob cascade deletion when a Registry is deleted
  test/e2e/e2e_suite_test.go
Labels: test
